* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.texts {
    -fx-font-family: Arial;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-fill: white;
}

.movie-list {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: derive(-fx-primary, -30%);
}

.menu-button {
    -fx-font-family: "FontAwesome";
    -fx-padding: 10px;
    -fx-font-size: 15px;
    -fx-background-color: transparent;
}

.menu-button > .label {
    -fx-text-fill: white;
}
.menu-button > .arrow-button > .arrow {
    -fx-background-color: white;
}

.menu-item > .label {
    -fx-text-fill: white;
}

.menu-item:hover, .menu-item:focused{
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}
.menu-item:hover, .menu-item:focused > .label{
    -fx-text-fill: -fx-primary;
}

/*.menu-item:focused {
    -fx-background-color: derive(-fx-secondary, 20%);
    -fx-text-fill: derive(-fx-primary, 20%);
}
.menu-item:focused > .label{
    -fx-text-fill: derive(-fx-primary, 20%);
}*/

.menu-button:hover, .menu-button:pressed {
    -fx-font-family: "FontAwesome";
    -fx-text-fill: -fx-secondary;
    -fx-fill: -fx-secondary;
}

.menu-button:hover > .label {
    -fx-text-fill: -fx-secondary;
    -fx-fill: -fx-secondary;
}

.menu-button:hover > .arrow-button > .arrow {
    -fx-background-color: -fx-secondary;
}

.menu-button:hover .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-secondary;
    -fx-font-size: 22;
}

.menu-button .glyph-icon {
    -fx-font-size: 22;
}

Label {
    -fx-text-fill: white;
}


.root{
    -fx-background-color: -fx-primary;
}

.glyph-icon-carousel
{
    -fx-fill: white;
    -fx-font-size: 26;
}

.text {
    -fx-text-fill: -fx-primarytext;
}

.button{
    -fx-font-family: "FontAwesome";
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.button:hover {
    -fx-font-family: "FontAwesome";
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.button:hover .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-primary;
}

.buy-button{
    -fx-font-family: "FontAwesome";
    -fx-text-fill: white;
    -fx-background-color: -fx-primary;
    -fx-border-color: white;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 15px;
}

.buy-button .glyph-icon {
    -fx-font-size: 22;
}

.buy-button:hover, .buy-button:pressed {
    -fx-font-family: "FontAwesome";
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.buy-button:hover .glyph-icon, .buy-button:pressed .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-primary;
    -fx-font-size: 22;
}

.button-back {
    -fx-font-family: "FontAwesome";
    -fx-background-color: transparent;
    -fx-border-color: none;
}

.button-back:hover, .button-back:pressed {
    -fx-font-family: "FontAwesome";
    -fx-border-color: none;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-fill: -fx-secondary;
    -fx-effect: null;
}

.button-back:hover .glyph-icon, .button-back:pressed {
    -fx-font-family: "FontAwesome";
    -fx-border-color: none;
    -fx-background-color: transparent;
    -fx-fill: -fx-secondary;
    -fx-effect: null;
}

.carousel-button {
    -fx-font-family: "Material Design Icons";
    -fx-text-fill: -fx-primary;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12pt;
}

.carousel-button:hover
{
    -fx-font-family: "Material Design Icons";
    -fx-text-fill: -fx-secondary;
    -fx-background-color: none;
    -fx-border-color: none;
}

.carousel-button:hover .glyph-icon, .carousel-button:hover .glyph-icon
{
    -fx-font-family: "Material Design Icons";
    -fx-fill: -fx-secondary;
    -fx-background-color: none;
    -fx-border-color: none;
}

.search-button {
    -fx-font-family: "FontAwesome";
    -fx-text-fill: -fx-primary;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 12pt;
}

.search-button:hover {
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-secondary;
    -fx-background-color: none;
    -fx-border-color: none;
}

.search-button:hover .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-secondary;
    -fx-background-color: none;
    -fx-border-color: none;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-prompt-text-fill: white;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.text-field:disabled {
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.combo-box {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size : 15;
    -fx-prompt-text-fill: white;
    -jfx-focus-color: -fx-secondary;
}

.combo-box > .arrow-button > .arrow {
    -fx-background-color: white;
}

.combo-box .list-view .list-cell {
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.combo-box .list-view .list-cell .text {
    -fx-fill: white;
    -fx-prompt-text-fill: white;
}

.combo-box .list-view .list-cell:hover .text {
    -fx-fill: -fx-primary;
    -fx-prompt-text-fill: white;
}

.combo-box .list-view .list-cell:hover {
    -fx-text-fill: -fx-primary;
    -fx-background-color: -fx-secondary;
    -fx-fill: -fx-primary;
    -fx-prompt-text-fill: white;
}

/*.combo-box .cell:selected {*/
/*    -fx-prompt-text-fill: white;*/
/*    -fx-text-fill: -fx-secondary;*/
/*}*/

.combo-box-base .text {
    -fx-fill: white;
}

.combo-box-base:focused .text {
    -fx-fill: -fx-secondary;
}

.minus_button {
    -fx-border-width: 1px 0px 1px 1px;
    -fx-background-radius: 20px 0px 0px 20px;
    -fx-border-radius: 20px 0px 0px 20px;
    -fx-font-family: "FontAwesome";
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-font-size: 15;
}

.plus_button {
    -fx-border-width: 1px 1px 1px 0 px;
    -fx-background-radius: 0px 20px 20px 0px;
    -fx-border-radius: 0px 20px 20px 0px;
    -fx-font-family: "FontAwesome";
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-font-size: 15;
}

.minus_button .glyph-icon, .plus_button .glyph-icon{
    -fx-font-family: "FontAwesome";
    -fx-text-fill: transparent;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-font-size: 15;
    -fx-fill: white;
}

.minus_button:hover .glyph-icon, .plus_button:hover .glyph-icon,
.minus_button:pressed .glyph-icon, .plus_button:pressed .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-text-fill: transparent;
    -fx-fill: white;
    -fx-font-size: 15;
    -fx-border-color: none;
    -fx-background-color: -fx-secondary;
}

.admin {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 13px;
}

.admin:hover {
    -fx-effect: null;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-underline: true;
}
/*Login Screen Specific*/


.wrong-credentials
{
    -jfx-unfocus-color: #ef5350;
    -jfx-focus-color: #ef5350;
}

/*Main Screen CSS Styling starts here*/

/*TablPane styling*/
.tab{
    -fx-background-color: -fx-primary;
}

.tab-header-background{
    -fx-background-color: -fx-primary;
}

.tab-label{
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 10pt;
}


.tab-main{
    -fx-pref-height : 40;
    -fx-max-height : 40;
}

.settings-tab{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-padding: 5px 20px 5px 20px;
}

.settings-tab:selected{
    -fx-background-color: -fx-secondary;
}

.settings-tab:selected .tab-label{
    -fx-text-fill: -fx-primary;
}

.settings-tab .tab-header-background{
    -fx-background-color: derive(-fx-primary, -50%);
}
/*Menu bar Styling*/
.menu-bar{
    -fx-font-size: 14;
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu
{
    -fx-font-family: Arial;
    -fx-background-color:  derive(-fx-primary, 20%);
    -fx-font-size: 15px;
}

/*Hamburger Styling*/
.jfx-hamburger {
    -fx-spacing: 5;
    -fx-cursor: hand;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 40px;
    -fx-pref-height: 4px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

.jfx-hamburger-icon{
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane
{
    -fx-background-color: white;
    -fx-background-radius: 5px;
}

/*Toolbar buttons*/

.toolbar-button
{
    -fx-font-family: "FontAwesome";
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, -40%);
    -fx-background-radius: 30 0 0 30;
    -fx-border-radius: 30 0 0 30;
    -fx-effect: null;
    -fx-font-size: 21px;
}

.toolbar-button .glyph-icon
{
    -fx-font-family: "FontAwesome";
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, -40%);
    -fx-background-radius: 30 0 0 30;
    -fx-border-radius: 30 0 0 30;
    -fx-effect: null;
    -fx-font-size: 26;
}

.toolbar-button:hover
{
    -fx-font-family: "FontAwesome";
    -fx-border-color: transparent;
    -fx-background-radius: 30 0 0 30;
    -fx-background-color: derive(-fx-primary, -30%);
    -fx-text-fill: -fx-secondary;
    -fx-effect: null;
    -fx-font-size: 21px;

}

.toolbar-button:hover .glyph-icon
{
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-secondary;
    -fx-effect: null;
    -fx-font-size: 26;
}

.toolbar-button-admin
{
    -fx-font-family: "FontAwesome";
    -fx-border-color: transparent;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 30 0 0 30;
    -fx-border-radius: 30 0 0 30;
    -fx-effect: null;
    -fx-font-size: 16px;
}

.toolbar-button-admin .glyph-icon
{
    -fx-font-family: "FontAwesome";
    -fx-border-color: transparent;
    -fx-background-color: -fx-primary;
    -fx-background-radius: 30 0 0 30;
    -fx-border-radius: 30 0 0 30;
    -fx-effect: null;
    -fx-font-size: 26;
}

.toolbar-button-admin:hover
{
    -fx-font-family: "FontAwesome";
    -fx-border-color: transparent;
    -fx-background-radius: 30 0 0 30;
    -fx-background-color: derive(-fx-primary, 20%);
    -fx-text-fill: -fx-secondary;
    -fx-effect: null;
    -fx-font-size: 16px;

}

.toolbar-button-admin:hover .glyph-icon
{
    -fx-font-family: "FontAwesome";
    -fx-fill: -fx-secondary;
    -fx-effect: null;
    -fx-font-size: 26;
}

/*Text styling*/
.main-text
{
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container{
    -fx-background-color: derive(-fx-primary, 10%);
}

/*Dialog styling*/
.dialog-button{
    -fx-border-color: -fx-color-1;
    -fx-text-fill: white;
    -fx-border-radius: 1px;
    -fx-background-radius: 3px;
}

.dialog-button:hover{
    -fx-background-color: -fx-color-1;
    -fx-border-color: derive(-fx-color-1, -20%);
    -fx-text-fill: white;
}

.jfx-layout-actions
{
    -fx-hgap:8;
}

/*Chart Styling*/
.data0.chart-pie{
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}
.data1.chart-pie{
    -fx-pie-color: derive(-fx-primary, 30%);
    -fx-border-color: derive(-fx-primary, 30%);
}
.chart-pie-label
{
    -fx-fill : derive(-fx-secondary, -5%);
}

/*About window*/
.about-text{
    -fx-fill: -fx-secondary;
}

.about-button{
    -fx-border-color: transparent;
}

/*Custom window background*/
.custom-pane{
    -fx-background-color: derive(-fx-primary, 5%);
}

/*TableView Default*/
.table-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px;
    -fx-border-color: derive(-fx-secondary, -60%);
}
.table-view:focused{
    -fx-background-color: derive(-fx-primary, 20%);
}
.table-row-cell {
    -fx-cell-size: 40px;
}
.table-view .column-header-background{
    -fx-background-color: -fx-primary;
}
.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.table-view .column-header {
    -fx-background-color: transparent;
}
.table-view .table-cell{
    -fx-text-fill: white;
}
.table-row-cell:focused, .table-cell:focused{
    -fx-text-fill: -fx-primary;
}
.table-row-cell{
    -fx-background-color: -fx-primary;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}
.table-column{
    -fx-alignment: CENTER;
}
.table-row-cell:even{
    -fx-background-color: derive(-fx-primary, 10%);
}
.table-row-cell:selected {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
    -fx-background-insets: 0;
}
.table-row-cell:selected .table-cell{
    -fx-text-fill: -fx-primary;
}
.placeholder .label{
    -fx-text-fill: white;
}
.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}
.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-text-fill: white;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb{
    -fx-background-color: derive(-fx-primary, 60%);
    -fx-border-color: transparent;
    -fx-background-radius: 5em;
}
.table-view .filler{
    -fx-fill: -fx-primary;
    -fx-background-color: -fx-primary;
}
.table-context
{
    -fx-base: -fx-primary;
}


/*JFXDialog styling*/
.jfx-layout-heading
{
    -fx-background-color: -fx-color-1;
}
.jfx-layout-heading .label
{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}
.jfx-layout-body, .jfx-layout-actions{
    -fx-background-color: -fx-primary;
}
.jfx-layout-body .label
{
    -fx-text-fill: white;
    -fx-padding: 20px 0 0 0;
}


/*Dashboard label*/
.not-available
{
    -fx-background-radius: 5px;
    -fx-fill: derive(blue, 80%);
    -fx-cursor: hand;
}

/*Checkbox*/

.checkbox-main{
    -fx-text-fill: -fx-secondary;
    -jfx-checked-color: -fx-primary;
    -fx-font-size: 10pt;
}

/*Progrss bar*/

.progress-bar-main .track{
    -fx-background-color: -fx-primary;
}
.progress-bar-main .bar{
    -fx-background-color: -fx-secondary;
    -fx-padding: 5px;
}

.common-label{
    -fx-background-color: transparent;
    -fx-text-fill: -fx-secondary;
    -fx-font-size: 12pt;
}

.carousels:hover {
    -fx-background-color: derive(-fx-primary, 30%);
}

/*Footer*/

.footer-button {
    -fx-font-family: "FontAwesome";
    -fx-background-color: transparent;
    -fx-border-color: none;
}

.footer-button:hover .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-effect: null;
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-font-size: 50px;
}

.footer-button:hover {
    -fx-font-family: "FontAwesome";
    -fx-text-fill: white;
    -fx-fill: white;
    -fx-effect: null;
    -fx-background-color: transparent;
    -fx-border-color: none;
    -fx-font-size: 50px;
}

/*Alert Dialog*/

.custom-alert{
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}
.custom-alert > *.button-bar > *.container{
    -fx-background-color: -fx-primary;
}
.custom-alert > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel{
    -fx-background-color: -fx-blue;
}
.custom-alert:header  .header-panel .label {
    -fx-font-style: normal;
    -fx-text-fill: white;
}
.custom-alert:header *.header-panel *.label{
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: -fx-primary;
}

.pics:hover {
    -fx-background-color: white;
    -fx-opacity: 0.6;
}

#box {
    -fx-background-color: derive(-fx-primary, -40%);
}

.header {
    -fx-background-color: derive(-fx-primary, -40%);
}

/*.actors-list .content {
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.actors-list:disabled .content{
    -fx-opacity: 1;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}*/

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-area:disabled {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-area:disabled .scroll-pane {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-area:disabled .scroll-pane .viewport{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-area:disabled .scroll-pane .content{
    -fx-background-color: transparent;
    -fx-font-size: 11px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.image-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: white;
}