* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.button {
    -fx-border-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-color: -fx-primary;
    -fx-background-radius: 20px;
}

.social-btn {
    -fx-background-color: -fx-primary;
    -fx-border-color: none;
}

.social-btn .glyph-icon {
    -fx-fill: white;
}

.sign-btn {
    -fx-background-color: #2f2f2ff3;
    -fx-text-fill: white;
}

.forget-password-btn {
    -fx-background-color: transparent;
    -fx-border-color: none;

}

.forget-password-btn:pressed {
    -fx-effect: null;
}
.button-back {
    -fx-font-family: "FontAwesome";
    -fx-background-color: transparent;
    -fx-border-color: none !important;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-font-size: 18;
}

.button-back .glyph-icon {
    -fx-font-size: 22;
    -fx-border-color: none !important;
}

.button-back:hover, .button-back:pressed {
    -fx-font-family: "FontAwesome";
    -fx-border-color: none !important;
    -fx-background-color: transparent;
    -fx-effect: null;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-font-size: 18;
}

.button-back:hover .glyph-icon, .button-back:pressed .glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-border-color: none !important;
    -fx-background-color: transparent;
    -fx-effect: null;
    -fx-font-size: 22;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
